In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

--2024-12-13 08:19:21--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv.1’

student_data.csv.1  100%[===================>] 129.91K  --.-KB/s    in 0.03s

2024-12-13 08:19:21 (4.94 MB/s) - ‘student_data.csv.1’ saved [133023/133023]

In [7]:
df = pd.read_csv("student_data.csv")
df.head()
df.sample(5)

,id,first_name,last_name,email,gender,ip_address,cgpa,passing_year,department,attendance,home_district,abroad_study,student_id,graduation_date,study_abroad_country,study_abroad_city,hsc_gpa,ssc_gpa
947,948,Sonni,Lanigan,slaniganqb@sciencedirect.com,Non-binary,56.56.37.0,2.02,2012.0,Engineering,33.99,Los Angeles,False,948,2010,Madagascar,Ambovombe,1,1
348,349,Samantha,Rowbotham,srowbotham9o@umich.edu,Female,54.71.88.145,3.39,2018.0,Arts,55.14,Houston,False,349,2014,Brazil,Iturama,1,3
837,838,Brigitte,Westmoreland,bwestmorelandn9@gravatar.com,Polygender,121.16.145.31,NaN,2014.0,Medicine,50.06,New York,True,838,2015,China,Alakak,2,1
486,487,Philippa,Lockie,plockiedi@dailymail.co.uk,Female,108.75.39.21,2.83,2025.0,Computer Science,94.84,Houston,True,487,2015,United States,Newark,4,2
173,174,Sloane,Desquesnes,sdesquesnes4t@dedecms.com,Male,0.146.148.140,3.17,2019.0,Business,14.74,Houston,True,174,2018,Poland,Olesno,3,4

**Question 1**

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

df_male = df[df["gender"] == "Male"]
df_female = df[df["gender"] == "Female"]
#rint(df_male.value_counts())
malecount = df_male.value_counts()
femalecount = df_female.value_counts()
print(f"Total number of male students: ",len(malecount))
print(f"Total number of female students: ", len(femalecount))

Total number of male students:  384
Total number of female students:  339

**Question 2**

In [25]:
df = pd.read_csv("student_data.csv")
gpa = df[(df["hsc_gpa"]> 4)]
print(gpa.sample(1))

      id first_name last_name                email gender      ip_address  \
843  844     Oliver    Milsap  omilsapnf@fotki.com   Male  180.144.67.192

     cgpa  passing_year department  attendance home_district  abroad_study  \
843  1.79        2016.0   Medicine       64.95         Miami          True

     student_id  graduation_date study_abroad_country study_abroad_city  \
843         844             2016               Brazil  Pontes e Lacerda

     hsc_gpa  ssc_gpa
843        5        5

**Question 3**

In [31]:
cgpa_median = df["cgpa"].median()

print("Median CGPA: ",cgpa_median)

Median CGPA:  1.96

**Question 4**

In [ ]:
studying_abroad = df[(df)]